<footer class="footer">
    <div class="footer-inner">
        <div class="copyright" style="display: inline-block">&copy; 2021 &mdash; <span
                itemprop="copyrightYear">2023</span>
            <span class="author">LuRenGu</span>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://github.com/zhu-niubi" target="_blank">Github</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
<!--            <a href="https://tycoding.cn/" target="_blank">Blog</a>-->
        </div>
    </div>
</footer>
