<div class="content-wrap">
    <div id="content" class="content">
        <section id="posts" class="posts-expand">
            <article class="post post-type-normal">
                <header class="post-header">
                    <h1 class="post-title">关于</h1>
                </header>

                <div class="post-body">
                    <h2>你呀你呀</h2>
                    <p>也会拎着你的碎花裙摆；</p>
                    <p>你呀你呀，</p>
                    <p>带着满世界的美好找到我，</p>
                    <p>我躺在海边，</p>
                    <p>你藏在梦里</p>
                    <p>海底开出鲜花，天边印出晚霞</p>
                    <p>美丽的你呀，总是羞红脸不说话;</p>
                    <p>你呀你呀，</p>
                    <p>你总是那么自由还是生来如此?</p>
                    <p>大概是太过绮丽</p>
                    <p>须是觅得三分秘密。</p>
                    <p>——路人谷2021.5.21</p>
                    <div align="center">
                        <div style="font-size: 14px;font-weight: bold;">
                            邮箱：2841816585@qq.com
                        </div>
                    </div>
                    <h1 id="联系"><a href="#联系" class="headerlink animsition-link" title="联系"></a>联系</h1>
                    <ul>
                        <li><a href="https://github.com/zhu-niubi" target="_blank" rel="noopener" class="animsition-link">GitHub</a></li>
                    </ul>
                </div>
                <footer class="post-footer">
                    <div class="post-eof"></div>
                </footer>
            </article>
            <hr/>

        </section>
    </div>
</div>
